body
    background-color #f5f6fa
    font-size 14px
    margin 0px
    padding 0px
    font-family: 'Roboto', sans-serif

.wrapper
        min-height 100vh
        overflow hidden
        .col1
            float
            position relative
            z-index 999
            width 17%
        .col2
            float left
            width 83%